@using Meetcore.Feature.Events
@using BasicCompany.Foundation.FieldRendering

<section class="product-detail columns is-centered is-vcentered">
    <div class="product-details column is-narrow has-text-centered-mobile">
        <h5>@Sitecore.Globalization.Translate.Text("Products-Detail-Price")</h5>
        <p class="price">$@Html.Sitecore().Field(Templates.Event.Fields.Cost)</p>
        @Html.Sitecore().Field(Templates.Event.Fields.Description)
    </div>
    <div class="product-image column is-3">
        @Html.Sitecore().Field(Templates.Event.Fields.BannerImage, new { mw = 480, @as = 0 })
    </div>
</section>